html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html,body 
{
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 1000px;
	
}

#nav-bar
{
	width: 100%;
	background-color: #28ae7f;
	height: 100px;
	position: relative;
	transition: all 0.2s;
	padding-top: 13px;
}

#logo-container
{
	position: absolute;
	height: 52px;
	width: 200px;
	top:27%;
	left: 3%;
}
.wrapper
{
	padding: 16px;
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
}

#button-container
{
	float: right;
	margin-right:0px;
	padding: 15px 20px;
	border:1px solid white;
	background-color:#28ae7f;
	color:white;
	font-family: 'segoe ui light', 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
}
#menu-icon
{
	font-size: 22px;
	background-color:#28ae7f;
	color:white;
	float: right;
	display: none;
	border: 1px solid white;
	padding: 10px;
	cursor: pointer;
}

#event-names
{
	height:500px;
	width:100%;
	text-align: center;
}


#event-byg
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}

#event-coding
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}

#event-quiz
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}

#event-cs
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}

#event-gullycricket
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}


#event-momentika
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}

#event-junkyard
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}


#event-roboxing
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}


#event-nfs
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}

#event-roboexploder
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}

#event-roball
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}

#event-dota
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}

#event-fifa
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}

#event-circuit
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}

#event-fyw
{
	text-align: center;
	padding: 35px 15px;
	border: 1px solid #28ae7f;
	background-color: white;
	color: #28ae7f;
	font-family: 'Open sans', sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	width: 300px;
	margin: 15px;
	font-size: 25px;

}


#event-byg:hover {
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-coding:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-momentika:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-junkyard:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}



#event-roboxing:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-gullycricket:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-nfs:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-roboexploder:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-roball:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-dota:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-fifa:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-fyw:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-quiz:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-cs:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#event-circuit:hover
{
	border: 1px solid #28ae7f;
	background-color: #28ae7f;
	color: white;
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
}

#head
{
	height: 135px;
	width:100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;


}

#byg-head
{
	height: 135px;
	width:100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

#quiz-head
{
	height: 135px;
	width:100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

#cs-head
{
	height: 135px;
	width:100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

#circuit-head
{
	height: 135px;
	width:100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

#junkyard-head
{
	height: 135px;
	width:100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

#nfs-head
{
	height: 135px;
	width:100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

#roboexploder-head
{
	height: 135px;
	width:100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

#roball-head
{
	height: 135px;
	width:100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

#roboxing-head
{
	height: 135px;
	width:100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}


#gullycricket-head
{
	height: 135px;
	width:100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

#dota-head
{
	height: 135px;
	width:100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}


#coding-head
{
	height: 135px;
	width: 100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

#fyw-head
{
	height: 135px;
	width: 100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

#fifa-head
{
	height: 135px;
	width: 100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

#momentika-head
{
	height: 135px;
	width: 100%;
	background-color: #0D5959;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	padding-top: 45px;

}

.space
{
	height: 200px;
}

#footer
{
	width: 100%;
	background-color: #17211B;
	height: 200px;
	position: relative;
}

#foot-text
{
	top: 35%;
	padding-left: 5%;
	color: white;
	font-family: 'Open Sans', serif;
	position: absolute;
}
	

#made
{
	bottom: 10%;
	padding-left: 45%;
	color: white;
	font-family: 'Open Sans', serif;
	position: absolute;	
}


#social-links
{
	top: 35%;
	padding-left: 75%;
	color: white;
	font-family: 'Open Sans', serif;
	position: absolute;
}

#pattern
{
	width: 100%;
	position: absolute;
	background: url("bcity.png");
	background-repeat: repeat-x;
	top: -50px;
	height: 50px;
}

.event-content
{
	height:500px;
	color: black;
	font-family: 'Open Sans', serif;
}
